@page
@model blogapp.Pages.testPageModel
@{
}
<p style="display:none">@Model.updateViewcount(Model.articles[2]._id)</p>
<h1>@Model.articles[2]._header</h1>
<p>By @Model.articles[2]._author - @Model.articles[2]._postDate</p>
<br>
<h2>@Model.articles[2]._title</h2>
<br>
<h2>@Model.articles[2]._about</h2>
<br>
<input type="hidden" id="modelText" value="@Model.articles[2]._text" />
<div id="text" style="height:auto;"></div>
<br>
<p>@Model.articles[2]._viewcount</p>

<h1>Leave a comment</h1>
<form method="post">
    
    <input type="number" name="id" value="@Model.articles[2]._id" style="display:none;">
    <p>Comment</p>
    <input type="text" name="text">
    <br>
    <input type="submit">
</form>
@{
    var coms = Model.comments.Where(x => x._article_id == Model.articles[2]._id);
    foreach(var i in coms)
    {
    <br>
    <h2>@i._username</h2>
    <br>
    <h2>@i._postDate</h2>
    <br>
    <h2>@i._text</h2>
        foreach(var k in i._replies)
        {
            <br>
            <h3>@k._username</h3>
            <br>
            <h3>@k._postDate</h3>
            <br>
            <h3>@k._text</h3>
        }

    <form asp-page-handler="edit" method="post">
        <input type="number" name="id" value="@i._article_id" style="display:none;">
        <input type="datetime" name="postDate" value="@i._postDate" style="display:none;">
        <input type="text" name="username" value="@i._username" style="display:none;">


        <input type="number" name="reply_id" value="@Model.articles[2]._id" style="display:none;">
        <p>Reply</p>
        <input type="text" name="reply_text">
        <br>
        <input type="submit">
    </form>
    }
}


<script type="text/javascript">
    window.onload = function() {
      var text = document.getElementById("modelText").value;
      document.getElementById("text").innerHTML += text;

      
          var map = {amp: '&', lt: '<', gt: '>', quot: '"', '#039': "'"}
          var html = document.getElementById("text").innerHTML.replace(/&([^;]+);/g, (m, c) => map[c]);
          document.getElementById("text").innerHTML = html;
    }

</script>